{% load static %}
<link href="{% static 'wiki/style.css' %}" rel="stylesheet">

<!-- Base.html - Header_Page Start ---------------------------- -->

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- The Title Of The  Application That Appears On The Taskbar-->
        <title>SAVING</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="canonical" href="http://html5-templates.com/" />
        <!-- Place favicon.ico in the root directory -->
        <script src="{% static 'wiki/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class="wrapAll clearfix">
			<div class="sidebar">
				<div class="logo">
					<a href="{% url 'Index_URL' %}"><img src="{% static 'wiki/img/logo.png' %}" alt="logo"></a>
				</div>
                <ul class="sidebar-nav">
                
                {% if user.is_authenticated %}
                </ul>

				<div class="navigation">

                    <span class="user">Welcom ({{ user.username }})</span> 
            
                    <h3>Accounts</h3>
					<ul>
						<li><a href="{% url 'My_Logout_URL' %}">Logout</a></li>
						<li><a href="#">Signup</a></li>
                        <li><a href="#">Create Profile</a></li>
						<li><a href="#">My Profile</a></li>
                        <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
                        <!-- <li><a href="#">My_Password Reset</a></li> -->

                        
						<li><a href="{% url 'My_PasswordChange_URL' %}">Change password</a></li>
					</ul>
                    <h3>Association</h3>
					<ul>
						<li><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
					</ul>
                    <h3>Financial</h3>
					<ul>
						<li><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
					</ul>
					<h3>Housing</h3>
					<ul>
						<li><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
					</ul>
					<h3>Settings</h3>
					<ul>
						<li><a href="#">01</a></li>
						<li><a href="#">02</a></li>
						<li><a href="#">03</a></li>
					</ul>
				</div>

			
                {% else %}
                
                
                
                
              {% endif %}
			</div>
			<div class="mainsection">
                {% if  user.is_authenticated %}

                <div class="headerLinks">
                    <h2><span class="user">( Logged In Now )</span> </h2>
				</div>
				
				{% else %}
				
				<div class="headerLinks">
                    <h2><span class="user">( Not Logged In Now )</span>  <a href="#">Signup</a> <a href="{% url 'login' %}">Login</a></h2>
				</div>
				
                {% endif%}

					
					<div id="simpleSearch">
						<input type="text" name="searchInput" id="searchInput" placeholder="Search Wikipedia" size="12" />
						<div id="submitSearch"></div>
					</div>
					
<!-- Base.html - Header_Page End ------------------------------ -->







<!--- Base.html - Title_Page Start  ----------------------------- -->
<div class="container">
    {% block Page_Title  %} 
    {% endblock Page_Title %}  
    </div>
    <!--- Base.html - Title_Page End' ------------------------------- -->
    
    
    
    
    
    
    <!--- Base.html - Messages_Contenst_Start  ---------------------- -->
    <div class="container">
    {% block messages_Contents  %}
    {% endblock messages_Contents %}  
    </div>
    <!--- Base.html - Messages_Contents_End' ----------------------- -->
    
    
    
    
    
    
    <!--- Base.html - Contents_Page Start --------------------------- -->
    <div class="container">
    {% block Contents_Page %} 
    {% endblock Contents_Page %} 
    </div>
    <!--- Base.html - Contents_Page End ----------------------------- -->
    
    
    <!-- {% block Pagination %}
    
    {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
        ...
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1"> |< FIRST</a>
                <a href="?page={{ page_obj.previous_page_number }}"> << PREVIOUS </a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> NEXT >> </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"> LAST >|</a>
                {% endif %}
        </span>
    </div>
    
    {% endblock Pagination %} 
    -->
    
    
    
    <!--  Base.html - Footer_Page Start- ---------------------------- -->
    
    <div class="categories">
	
	    {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
        ...
    {% endfor %}
    
    <div class="pagination">
        <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1"> |< FIRST</a>
                <a href="?page={{ page_obj.previous_page_number }}"> << PREVIOUS </a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> NEXT >> </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"> LAST >|</a>
                {% endif %}
        </span>
    </div>

	
	
	</div>

    <div class="pagefooter">
    
        This page was last edited on 29.07.2017 | Template by <a href="http://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a><!--  Please leave this link unchanged -->
        <div class="footerlinks">
            <a href="{% url 'About_URL' %}">About</a> <a href="#">Contact Us</a> <a href="#">Terms and conditions</a> <a href="#">Cookie statement</a> <a href="#">Developers</a>
        </div>
    </div>


</div>		
</div>

    
    <!--  Base.html - Footer_Page End- ---------------------------- -->


