
{% extends "public_pages/base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1> Confirm Email Unsuccessfully </h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

<!-- http://127.0.0.1:8000/accounts/logout/ -->
<!-- Required Form + Data Validation -->
<h4> Confirm Email Activation Link Is Invalid!.</h4>
<p>Confirm Email Activation Link Is Invalid!. </p>

<a  href="{% url 'My_Signup_URL' %}" role="button" style="float:lieft" class="btn btn-success">Re-Signup</a><!-- الدخول إلى الموقع -->
<br>
<a  href="{% url 'Index_URL' %}" role="button" style="float:lieft" class="btn btn-success">Go To Home Page</a><!-- الدخول إلى الموقع -->
{% endblock Contents_Page %} 
Confirm Email Activation link is invalid!