
{% extends "public_pages/base.html" %}  
{% load static %}






{% block Page_Title  %}
<h1>Login</h1>
{% endblock Page_Title %}  







{% block Contents_Page %} 
<form enctype="multipart/form-data" " method="post" novalidate>
        {% csrf_token %} 
        <!-- Django encrypts Data -->
        <!-- {% for field in form %}
    {{ field.errors }}
{% endfor %} -->
        <table>
            <!-- Required Form + Data Validation -->
            {% include  "includes/data_validation_form.html" %} 
            <!-- Login In Web Page -->
            <button type="submit" class="btn btn-success">Login</button>  
            <!-- Go To Home Page HTML-->
            <a href="{% url 'Index_URL' %}" class="btn btn-success">Go To Home Page</a> 
        </table>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p>Have You Lost The Password?<a href="{% url 'password_reset' %}"> Forgot Password?</a></p>
<p>Create New Accounts <a href="{% url 'My_Signup_URL'%}">Signup</a></p> 

<!-- ====================================== -->
<!-- {% comment %} -->
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <div class="field">
      <label for="{{ form.username.id_for_label }}" class="label">
        Username
      </label>
      <div class="control">
        {{ form.username }}
      </div>
      <p class="help is-danger">{{ form.username.errors }}</p>
    </div>

    <div class="field">
      <label for="{{ form.password.id_for_label }}" class="label">
        Password
      </label>
      <div class="control">
        {{ form.password }}
      </div>
      <p class="help is-danger">{{ form.password.errors }}</p>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link">Login</button>
      </div>
    </div>
  </form>
  <!-- {% endcomment %} -->
<!-- ====================================== -->

{% endblock Contents_Page %} 
