
{% extends "public_pages/base.html" %}  
{% load static %}
{% load crispy_forms_tags %}






{% block Page_Title  %}
<h1>Signup</h1>
{% endblock Page_Title %}  






{% block Contents_Page %} 

<form enctype="multipart/form-data" " method="post" novalidate>
    {% csrf_token %} <!-- Django encrypts Data -->
    
    {{ form|crispy }}
    {% comment %}
        <!-- Required Form + Data Validation -->
        {% include  "includes/data_validation_form.html" %} 
        {% endcomment %}
        
    <!-- Go To Home Page HTML-->
        <button type="submit" class="btn btn-success">Signup</button>
        <a href="{% url 'Index_URL' %}" class="btn btn-info">Cancel</a>
</form>


{% endblock Contents_Page %} 

