
{% extends "public_pages/base.html" %}  
{% load static %}
{% load widget_tweaks %}






{% block Page_Title  %}
<h1>Paswor Reset Form</h1>
{% endblock Page_Title %}  







{% block Contents_Page %} 

<form enctype="multipart/form-data" " method="post" novalidate>
        {% csrf_token %} 
        <!-- Django encrypts Data -->
        <!-- {% for field in form %}
    {{ field.errors }}
{% endfor %} -->
        <table>
            <!-- Required Form + Data Validation -->
            {% include  "includes/data_validation_form.html" %} 
            <!-- Login In Web Page -->
            <button type="submit" class="btn btn-success">Login</button>  
            <!-- Go To Home Page HTML-->
            <a href="{% url 'Index_URL' %}" class="btn btn-success">Go To Home Page</a> 
        </table>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p>Have You Lost The Password?<a href="{% url 'password_reset' %}"> Forgot Password?</a></p>
<p>Create New Accounts <a href="#">Signup</a></p>   

{% endblock Contents_Page %} 













<h1>Paswor_Reset_Form </h1>

<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Password Reset Form</h1>
    <h6 style="width: 60%; margin: 0 auto">
      Please enter your new password so we can verify.
    </h6>
  </div>
  <br />
  <form action="" method="POST">
    {% csrf_token %} 
    {{form}}
    <input type="submit" value="Reset Password"/>
  </form>
